<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <sec:authorize access = isAuthenticated>
        <sec:authentication property = "principal" var = "principal"/>
    </sec:authorize>
</head>
<body>
<!--프로필셋팅 메인-->
<!--<main class="main">-->
<!--    &lt;!&ndash;프로필셋팅 섹션&ndash;&gt;-->
<!--    <section class="setting-container">-->
<!--        &lt;!&ndash;프로필셋팅 아티클&ndash;&gt;-->
<!--        <article class="setting__content">-->

<!--            &lt;!&ndash;프로필 수정&ndash;&gt;-->
<!--            <form id="profileUpdate"  onsubmit="update(${principal.user.id}, event)" >-->
<!--                <div class="content-item__02">-->
<!--                    <div class="item__title">이름</div>-->
<!--                    <div class="item__input">-->
<!--                        <input type="text" name="name" placeholder="이름"-->
<!--                               value="${principal.user.name}"  required="required"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="content-item__03">-->
<!--                    <div class="item__title">유저네임</div>-->
<!--                    <div class="item__input">-->
<!--                        <input type="text" name="username" placeholder="유저네임"-->
<!--                               value="${principal.user.username}" readonly="readonly" />-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="content-item__04">-->
<!--                    <div class="item__title">패스워드</div>-->
<!--                    <div class="item__input">-->
<!--                        <input type="password" name="password" placeholder="패스워드"  required="required"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="content-item__05">-->
<!--                    <div class="item__title">웹사이트</div>-->
<!--                    <div class="item__input">-->
<!--                        <input type="text" name="website" placeholder="웹 사이트"-->
<!--                               value="${principal.user.website}" />-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="content-item__08">-->
<!--                    <div class="item__title">이메일</div>-->
<!--                    <div class="item__input">-->
<!--                        <input type="text" name="email" placeholder="이메일"-->
<!--                               value="${principal.user.email}" readonly="readonly" />-->
<!--                    </div>-->
<!--                </div>-->


<!--                &lt;!&ndash;제출버튼&ndash;&gt;-->
<!--                <div class="content-item__11">-->
<!--                    <div class="item__title"></div>-->
<!--                    <div class="item__input">-->
<!--                        <button>제출</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;제출버튼end&ndash;&gt;-->

<!--            </form>-->
<!--            &lt;!&ndash;프로필수정 form end&ndash;&gt;-->
<!--        </article>-->
<!--    </section>-->
<!--</main>-->
</body>
</html>